{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components-processor"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "no-eol-whitespace": null
  },
  "syntax": "scss"
}
